/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Layout */

main {
    display: grid;
    
}

/* Buttons Styles */

